<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.akexorcist.bluetotohspp.library"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />"

    <application>
        <activity android:name="app.akexorcist.bluetotohspp.library.DeviceList" />
    </application>

</manifest>
